<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenClassify | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>

<header class="navbar">
    <div class="logo">GreenClassify.com</div>
    <nav>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="/prediction">Prediction</a>
    </nav>
</header>

<section class="hero-v2">
    <div class="overlay"></div>
    <div class="hero-content-v2">
        <h1>Vegetable Image Classification</h1>
    </div>
</section>

<section class="dark-section" id="about">
    <div class="content-wrapper">
        <h2>ABOUT US</h2>
        <div class="underline"></div>
        <p>
            GreenClassify is a specialized platform solely focused on the task of vegetable image classification. 
            We utilize advanced machine learning algorithms and maintain a vast database to provide precise and 
            dependable classification results for a wide variety of vegetables. Our aim is to simplify the process of 
            identifying vegetables by leveraging the power of image recognition technology. 
        </p>
        <p>
            Whether you are a chef, a nutritionist, or a vegetable enthusiast, GreenClassify is your go-to 
            resource for accurately categorizing vegetables and expanding your understanding of their diverse 
            characteristics. Join us on this platform to explore the world of vegetable classification and 
            unlock a deeper appreciation for the rich tapestry of edible plants.
        </p>
    </div>
</section>

<section class="dark-section" id="contact">
    <div class="content-wrapper">
        <h2>CONTACT US</h2>
        <div class="underline"></div>
        <p class="contact-info">greenclassify@gmail.com</p>
    </div>
</section>

<footer class="footer-v2">
    <p>© 2026 GreenClassify. All Rights Reserved.</p>
</footer>

</body>
</html>